.presentation-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.presentation-leftSide {
    flex: 1;
    padding-left: 13%;
    padding-right: 20%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    color: white;
}

.presentation-leftSide h1 {
    font-size: 2.5em;
    margin: 0 0 10px 0;
}

.presentation-rightSide {
    flex: 1;
    background: linear-gradient(270deg, rgb(0, 0, 0), rgb(15, 15, 15));
    background-size: 400% 400%;
    animation: gradientMove 6s ease infinite;


    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.presentation-rightSide img {
    width: 60%;
    border-radius: 50%;
    border: 3px solid #eee;
    object-fit: cover;
    display: block;
    margin: auto;
    transition: transform 0.2s ease;
    transform: scale(0.8);
    transform: translateX(-22vw);
}

