header {
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 32px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

header .leftSide {
    margin: 0;
    font-size: 1.5em;
    color: aqua;
}

header .rightSide {
    margin: 0;
    font-size: 1em;
}
